@model Solomon.Models.Article

@{
    Layout = null;
}
<!DOCTYPE html>
<html class="nojs html css_verticalspacer" lang="ru-RU">
 <head>

  <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title>Solomon</title>
  <!-- CSS -->


  <link rel="stylesheet" type="text/css" href="~/Content/css/site_global.css?crc=444006867"/>
  <link rel="stylesheet" type="text/css" href="~/Content/css/index.css?crc=4249096523" id="pagesheet"/>
   </head>
 <body>
<div id="head">

</div>

<div id="content">
 
<table cellpadding="0" <table cellspacing="0" border="0px" width="100%">
<tr>
<td width="24%" valign="top">
	<div id="menu">
	<ul>
		<li><a href="#">Ожидают обработки</a></li>
		<li><a href="#">Обработаны</a></li>
		<li><a href="#">Дан автоответ</a></li>
		<li><a href="#">Статистика</a></li>
	
	</ul>



	</div>

</td>
<td width="1%" valign="top">
</td>
<td width="50%" valign="top">
	<div id="number"> Обращение: №33432 от 26.06.2019 </div>
	
	<div id="text">  

		<div id="hd">
		<h3>ТЕКСТ ОБРАЩЕНИЯ</h3>
		</div>
		
	<hr>

		<div id="obr">
		<p>
		Добрый день. Мы жители многоквартирного дома по <span>ул. Узорная 18а</span> и частного дома ул. Узорная 18, просим разобраться в вопросе. На соседнем участке по улице <span>Узорная 18б</span>, граничащем с нашим домом, недавно был изменён условно разрешённый вид использования на объект придорожного сервиса для строительства автомойки. Наш многоквартирный дом находится в 4 метрах и частный дом в 10 метрах от границы с этим участком, что не соответствует санитарной защитной зоне для данных объектов строительства. В 15 метрах от нашего дома уже есть автозаправочная станция, работающая круглосуточно, что также не соответствует. Строительство автомойки самообслуживания на 11 постов, которые обычно работают в круглосуточном режиме, в жилом массиве не соответствует нормативам документам, увеличит уровень шума и загрязнения окружающей среды. Ниже приложен эскизный проект.
		</p>
		</div>

	</div>
<br><br>
	<div id="feedback">  

		<div id="hdf">
		<h3>ОТВЕТ</h3>
		</div>
		
		<hr>

		<div id="feed">
		<p>
		Авто
		
		</p>
		
		
		<form name="test" method="post" action="input1.php">
		<textarea placeholder="Введите ответ на обращение" name="comment"></textarea>
			<p>
			<input type="reset" value="Очистить">
			<input type="submit" value="Отправить">
			</p>
			</form>
		
		</div>

	</div>

<br>

<div id="ans">  

		<div id="hds">
		<h3>ИСПОЛЬЗУЙТЕ ШАБЛОНЫ ОТВЕТОВ</h3>
		</div>
		
	<hr>

		<div id="shab">
		<p>
		Информируем вас о том, что согласно письму Федеральной службы безопасности Российской Федерации от 07.09.2018 №149/7/6-363 возможность использования схемы ЭП, соответствующей ГОСТ Р 34.10-2001 «Информационная технология. Криптографическая защита информации. Процессы формирования и проверки электронной цифровой подписи» (далее – ГОСТ-2001), для формирования ЭП продлевается до 31.12.2019.
		</p></div>
		
			<div id="shab">	<p>
		Информируем вас о том, что согласно письму Федеральной службы безопасности Российской Федерации от 07.09.2018 №149/7/6-363 возможность использования схемы ЭП, соответствующей ГОСТ Р 34.10-2001 «Информационная технология. Криптографическая защита информации. Процессы формирования и проверки электронной цифровой подписи» (далее – ГОСТ-2001), для формирования ЭП продлевается до 31.12.2019.
		</p></div>
		
		
		

	</div>


</td>
<td width="1%" valign="top">
</td>
<td width="24%" valign="top">

	<div id="rgth">
			<div id="ost">
			<p>
			ОСТАЛОСЬ ДНЕЙ НА ОТВЕТ <span>24</span>

			</p>

			</div>
			<br><br>
			<div align="center">
			<select name="theme">
			<option value="dr">Минестерство дорожного хозяйства</option>
			<option value="mz">Министерство здравоохранения</option>
			<option value="mer">Глава администрации</option>
				<option value="g">Бабушке на деревню</option>
			</select><br><br>
			<p><input type="submit" value="ПЕРЕСЛАТЬ"></p>
			</div>
			<br>
	</div>
<br>

			<div id="consul">
			
			
			
			</div>

</td>




</tr>




</tr>


</table>


  </body>
</html>
